
.signOut {
    grid-area: signOut;
  }
  
  .menu {
    grid-area: menu;
  }
  
  .settings {
      grid-area: settings;
  }
  
  .dashboard {
    grid-area: dashboard;
  
  }
  
  .userMajor {
    grid-area: userMajor;
  }
  
  .userMinor {
    grid-area: userMinor;
  }
  
  .rankings {
    grid-area: rankings;
  }
  
  .navigation {
    grid-area: navigation;
  }

  .hamburger {
    grid-area: hamburger;
  }